.chat-main
  .chat-main-header
    .chat-main-header__group--list
      = @group.name
    .chat-main-header__group--members 
      Member:
      - @group.group_users.each do |group_user|
        = group_user.user.name
    = link_to "Edit", class: 'chat-main-header__edit--btn'
  .chat-main-contents
    = render @messages

  .chat-main-message-form
    = form_for [@group, @message] do |f|
      .message-form
        = f.text_field :content, class: 'message-form__text', placeholder: 'type a message'
        = f.label :image, class: 'message-form__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-main__submit-btn' 
