.chat-side
  .chat-side__side-header
    %h3.header__name
      = current_user.name
    %ul.chat-side__item
      %li.chat-side__item1
      = link_to new_group_path, class: "chat-side__item1__btn" do
        %i.fa.fa-edit
      %li.chat-side__item2
      = link_to edit_user_path(current_user), class: "chat-side__item2__btn" do
        %i.fa.fa-cog
  .chat-side__group-form
    - current_user.groups.each do |group|   
      = link_to '#' do
        %p.chat-side__group-form__group-names
          = group.name
        %p.chat-side__group-form__group-messages
          まだメッセージはありません